{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@domain": "./imports/domain",
          "@infra": "./imports/infra",
          "@adapters": "./imports/adapters",
          "@shared": "./imports/shared",
          "@modules": "./imports/modules",
          "@application": "./imports/application",
          "@ui": "./imports/ui",
          "@test": "./imports/test"
        }
      }
    ]
  ]
}
