{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@domain": "./imports/domain",
          "@application": "./imports/application",
          "@infra": "./imports/infra",
          "@shared": "./imports/shared",
          "@ui": "./imports/ui"
        }
      }
    ]
  ]
}
