@layer theme, base, antd, components, utilities;

@import url('antd/dist/antd.css') layer(antd);

@import 'tailwindcss';

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.icon-bounce {
  display: inline-block;
  animation: bounce 1s infinite;
}
