@import 'tailwindcss';
@import '@mantine/core/styles.layer.css';
@import '@mantine/notifications/styles.css';
@import 'mantine-datatable/styles.layer.css';

@layer mantine, mantine-datatable;

.tabler-icon {
  width: var(--mantine-font-size-md);
  height: var(--mantine-font-size-md);
}

:root {
  @mixin light-root {
    --mantine-color-body: #f5f5f5;
  }
}
